<!DOCTYPE html>
<html>
<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />
    <!-- 引入my97 -->
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>
    <!--  引入上传图片的js -->

</head>
<body >

<form id="pro_from" class="form-inline">
    角色名称：<input type="text" class="form-control" name="rolename" >
    <button type="button" class="btn btn-success" onclick="querytj()">查询</button>
</form>

<button type="button" class="btn btn-Warning " onclick="addrole()">新增</button>
<button type="button" class="btn btn-Warning " onclick="deleterole()">批量删除</button>

<!--  表格 -->
<table id="dataGrid2" ></table>

<!--修改 权限 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 头部 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>  <!-- X号关闭 -->
                <h4 class="modal-title" id="myModalLabel">菜单信息</h4>
            </div>
            <!-- 中部   form内容设置  -->
            <div  id="jiaose">
            </div>
            <!-- 尾部 （按扭）-->
            <div class="modal-footer">
                <button type="button" onclick="tijiao()" class="btn btn-primary"> 提交更改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div>



</body>

<script type="text/javascript">

    $(function(){
        queryData();
    });

    function queryData(){
        //创建bootstrapTable
        $("#dataGrid2").bootstrapTable({
            url: "../ztx/queryrole",
            method: 'post',
            striped: true,  					 // 斑马线效果     默认false
            singleSelect: false,				 //只允许选中一行
            clickToSelect: true,				 //选中行是不选中复选框或者单选按钮
            showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId: "roleid",                 	 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     		 //  最少留两列
            detailView: false,                  //是否显示父子表
            toolbar: '#tabToolBar',   			 //  工具定义位置
            sidePagination: 'server',
            toolbar: '#toolbar',
            pagination: true, 					 //是否展示分页
            pageList: [2,4,6,8,10],			 //分页组件
            pageNumber: 1,
            pageSize: 4,						 //默认每页条数
            searchOnEnterKey: true,			 //启动回车键做搜索功能
            sortable: true,					 //设置为false 将禁止所有列的排序。
            //sortName: 'eventid',					 //设置默认排序为 name,直接对应数据库的字段
            //sortOrder: "desc",					 //定义排序方式，'asc' 或者 'desc'。
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            // 设置为limit可以获取limit, offset, search, sort, order
            queryParamsType: 'undefined',
            queryParams: function queryParams(params) { // 请求服务器数据
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,
                };
                return param;
            },
            columns:[
                [
                /* field 属性值和 对象的属性名保持一致 */
                {field:'cz', checkbox: true},  //开启复选框
                {field:'roleid',title:'角色id',width:$(this).width() * 0.2},
                {field:'rolename',title:'角色名称',width:$(this).width() * 0.2},
                {field:'text',title:'角色描述',width:$(this).width() * 0.2},
                {field:'rolecount',title:'员工数量',width:$(this).width() * 0.2},
                {field:'createtime',title:'创建日期',width:$(this).width() * 0.2},
                {field:'cz',title:'操作',width:$(this).width() * 0.2,formatter: function(value,row,index){
                        return '<button type="button" class="btn btn-Warning " onclick="editqx('+row.roleid+')">绑定权限</button>';
                }},
            ]
            ],
        });
    }

    //==================================================条件查询==========================================
    function querytj(){
        $("#dataGrid2").bootstrapTable("refresh", {
            "query": {
                "rolename": $('[name="rolename"]').val(),
            }
        });
    }

    //==================================================弹框=================================
    var res;
    function createAddContent(url) {
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }
    //============================================新增====================================
    function addrole(){
        //打开新增弹框
        bootbox.dialog({
            title: '新增用户',
            message: createAddContent("../ztx/toaddrole"),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: '../ztx/addrole',
                            type: 'post',
                            data: $("#addFormId").serialize(),
                            success: function (flag) {
                                    alert("新增成功");
                                    $('#dataGrid2').bootstrapTable("refresh");
                            }, error: function () {
                                alert("新增失败");
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {
                    }
                }
            }
        });
    }
    //============================================新增====================================
    var roles;
    function edittree(id){
        roles=id;
        $.ajax({
            url: "../ztx/edittree?roleid="+id,
            type: "post",
            //  dataType: "json",
            success: function (data) {
                $("#myModal2").modal("show");
                //查询成功回调，tree展示

                $("#jiaose").treeview({
                    //data属性 树节点信息 json数组
                    data: data,
                    //是否显示复选框
                    showCheckbox : true,
                    checkedIcon:"glyphicon glyphicon-check",
                })
            },
            error:function(){
                alert(555);
            }
        })
    }

    function  tijiao(){
        var ids=caidanid();
        $.ajax({
            url:"../ztx/updatetree",
            type:"post",
            data:{ids:ids,roleid:roles},
            success:function(){
                $('#myModal2').modal('hide'); //成功后关闭弹框
            }
        })
    }

    //获取选中id
    function caidanid(){
        var id=  $("#jiaose").treeview("getChecked") //获取所选中的id
        var ids="";
        for (var i = 0; i < id.length; i++) {
            ids +="," + id[i].id;
        }
        var ids=ids.substr(1);
        return  ids;  //调用此方法时返回获得id
    }

    function deleterole(){
        var arr = $('#dataGrid2').bootstrapTable('getSelections');
        var ids="";
        for(var i = 0;i<arr.length;i++){
            ids+=","+arr[i].roleid;
        }
        ids=ids.substr(1);
        if(ids==""){
            alert('请选择要删除的数据！');
        }else{
            $.ajax({
                url:"../ztx/deleterole?ids="+ids,
                type:"post",
                success:function (){
                    $('#dataGrid2').bootstrapTable("refresh");
                    alert("删除成功1");
                },
                error:function (){
                    alert("后台错误，请使用debug调试");
                }
            });
        }
    }

    function editqx(rid){
        bootbox.dialog({
            title: '绑定权限',
            message: createAddContent("../ztx/hxtree?roleid="+rid),
            closeButton: true,//是否显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        var a=$('#edittree').treeview('getChecked');
                        var ids=""
                        for(var i=0;i<a.length;i++){
                            ids+=","+a[i].id
                        }
                        ids=ids.substring(1)
                        $.ajax({
                            url:"../ztx/updatetree",
                            type:"post",
                            data:{"roleid":$("#rid").val(),"ids":ids},
                            success:function(){
                                $('#myModal2').modal('hide'); //成功后关闭弹框
                                $('#dataGrid2').bootstrapTable("refresh");
                            }
                        })
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {
                    }
                }
            }
        });
    }
</script>
</html>