<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div style="height:30px" >
       店铺认证
    </div>
<div style="height: 500px;margin-left: 5px">
    <form id="ShopMessage">
    <div style="height:250px;" >
        <div style="height:30px;margin-top: 20px" >
            选择认证的类型并点击下一步：（认证通过后类型不可更改）
        </div>

        <div style="height:200px;width:200px;margin-top: 20px;float:left" value="1" id="qiye" name="">
            <center> 企业认证<br/>
            对公银行卡号<br/>
            <p></p>
            针对已具备登记证书的社群/营业执照的企业，可提现至公司银行账户，审核周期为1个工作日
        </center>
        </div>

        <div style="height:200px;width:200px;margin-left: 5px;margin-top: 20px;float:left" value="1" id="geti" name="">
            <center>  个人认证<br/>
            个人银行卡号<br/>
            <p></p>
            针对以人名义用大陆身份证认证，可提现至个人银行账户，审核周期为1个工作日
            </center>
        </div>
    </div>



    <div style="height: 300px;width: 400px;margin-left: 70px;margin-top:20px">
        <input type="button" onclick="" value="保存">
    </div>
</form>
</div>
</body>
</html>


