<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js2/easyui1.5/jquery.easyui.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="/js2/easyui1.5/themes/icon.css" >
    <!-- 主题 -->
    <link rel="stylesheet" href="/js2/easyui1.5/themes/default/easyui.css" >
    <!-- 方言 -->
    <script type="text/javascript" src="/js2/easyui1.5/locale/easyui-lang-zh_CN.js"></script>
    <!-- 图片  -->
    <script src="/js2/uploadify/jquery.uploadify.js"></script>
    <link rel="stylesheet" href="/js2/uploadify/uploadify.css" >
    <!-- 富文本 -->
    <script src="/js2/kindeditor-4.1.10/kindeditor-all.js"></script>
    <link rel="stylesheet" href="/js2/kindeditor-4.1.10/themes/default/default.css" >
</head>
<body>
<div  style="height: 30px;background: #8c8c8c" >店铺认证</div>
<form id="IndividualMessage">
    <div>
        <div>
            <div style="margin-left: 20px">
                <h2>认证方式：个人认证</h2><br/>
                <h4> 个人资料</h4><br/>
                <p></p>
                <!--<div>-->
                <div style="width: 150px;float: left;margin-left: 70px">
                    <div>真实姓名 </div>
                    <p></p>
                    <div>身份证号</div>
                    <p></p>
                    <div >身份证正面</div>
                    <p></p>
                    <div >身份证背面</div>
                    <p></p>
                    <div style="height: 120px;width: 30px"><center>提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;示</center></div>
                    <p></p>
                    <div>联系方式 </div>
                    <p></p>
                    <div>验证码</div>
                    <p></p>
                </div>

                <div >
                    <div><input type="text" value="请输入姓名" onfocus="javascript:if(this.value=='请输入姓名')this.value='';" name="gtname"></div>
                    <p></p>
                    <div><input type="text" value="身份证号" onfocus="javascript:if(this.value=='身份证号')this.value='';" name="gtsfzh" ></div>
                    <p></p>
                    <div ><input type="file" src="" name="gtsfzqian"></div>
                    <p></p>
                    <div ><input type="file" src="" name="gtsfzbei"></div>
                    <div style="width: 500px;height: 130px">
                        <span>提线人的真实姓名和身份证必须和提现银行卡开户名为同一个人</span><br/>
                        <span>格式要求：支持jpg .jpeg .bmp .gif .png格式，大小不超过2M。</span>
                    </div>
                    <p></p>

                    <div><input type="text" value="联系方式" onfocus="javascript:if(this.value=='联系方式')this.value='';" name="gtphone"></div><p></p>
                    <p></p>

                    <div><input type="text" value="验证码" onfocus="javascript:if(this.value=='验证码')this.value='';" ></div>
                    <p></p>

                </div>
            </div>

            <div style="margin-left: 20px;margin-top: 30px">
                <h4>提现信息</h4>
                <div>
                    <div style="width: 150px;float: left;margin-left: 70px">
                        <div>提现方式</div>
                        <p></p>
                        <div style="height:50px">提示</div>
                        <p></p>
                        <div>选择银行</div>
                        <p></p>
                        <div>开户城市</div>
                        <p></p>
                        <div>开户支行名称</div>
                        <p></p>
                        <div>银行卡号</div>
                        <p></p>
                    </div>

                    <div >
                        <!-- 提现方式-->
                        <div><input type="radio" value="1" name="txfs">银行卡 <input type="radio" value="2" name="txfs">微信</div><br/>
                        <div style="width: 800px"> 1、6~8工作日到账，适合较大金额提现<br/>2、手续费0.6%，微信商户收取，平台不收取任何费用</div>
                        <p></p>
                        <div> <select name="yhid">
                            <option value="1">中国工商银行</option>
                            <option value="2">中国建设银行</option>
                            <option value="3">中国银行</option>
                            <option value="4">交通银行</option>
                            <option value="5">中国农业银行</option>
                            <option value="6">招商银行</option>
                            <option value="7">中国邮政储蓄银行</option>
                            <option value="8">中国光大银行</option>
                            <option value="9">中国民生银行</option>
                            <option value="10">平安银行</option>
                            <option value="11">浦发银行</option>
                            <option value="12">中信银行</option>
                            <option value="13">兴业银行</option>
                            <option value="14">华夏银行</option>
                            <option value="15">广发银行</option>
                        </select></div>
                        <p></p>
                        <div>

                            <input type="text" id="sheng" class="easyui-combobox" value="省" name="shengid" />
                            -
                            <input type="text" id="shi" class="easyui-combobox" value="市" name="shiid"/>
                            -
                            <input type="text" id="xian" class="easyui-combobox" value="县" name="xianid"/>
                        </div>
                        <p></p>
                        <!--开户支行名称-->
                        <div><input type="text" name="khyhxm"></div>
                        <p></p>
                        <!--银行账号-->
                        <div><input type="text" name="khzh"></div>
                        <p></p>
                        <br/>
                        <p></p>
                        <div style="float: left;margin-left: 180px"><input type="button" value="认证" onclick="addIndividual()"></div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
</body>
<script>
    $(function(){

            initAddProvinceSelect();

        }
    );

    //新增个人认证
    function addIndividual(){
        $.ajax(
            {
            url: '/lxx/addIndividual',
            type: 'post',
            cache:false,
            data: $("#IndividualMessage").serialize(),
            success: function (data) {

                alert("个人认证成功");

            }, error: function () {
                alert("个人认证失败");
            }
        }
        );
    }
    //地区三级
    function initAddProvinceSelect(){
        $("#sheng").combobox({
                url:'/lxx/findArea?id=0',
                textField:'areaname',
                valueField:'id',
                onChange:function(newValue,oldValue){
                    $("#shi").combobox({
                            url:'/lxx/findArea?id='+newValue,
                            textField:'areaname',
                            valueField:'id',
                            onChange:function(newValue,oldValue){
                                $("#xian").combobox({
                                        url:'/lxx/findArea?id='+newValue,
                                        textField:'areaname',
                                        valueField:'id'
                                    }
                                )
                            }
                        }
                    )
                }
            }
        )

    }
</script>
</html>