<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <script src="/js/jquery.min.js"></script>

</head>

<body>
<form id="ShopMessage" method="post">
    <div style="height:30px;background: #8c8c8c">
        店铺信息
    </div>
    <p></p>
    店铺名称&nbsp;&nbsp;<input type="text" name="dpname" size="28"  value="请输入店铺名称" onfocus="javascript:if(this.value=='请输入店铺名称')this.value='';"  ><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    未认证  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../lxx/AuthenticationTransfer" >立即认证</font></a><br/>
    <p></p>
    店铺Logo&nbsp;<input type="file" name="dplogo"><br/>
    <p></p>
    联系方式&nbsp;&nbsp;<input type="text" name="dpphone" size="28"  value="请输入客户可查看的联系方式" onfocus="javascript:if(this.value=='请输入客户可查看的联系方式')this.value='';" ><br/>
    <p></p>
    经营地址&nbsp;
    <!--省-->
    <select name="shengid">
        <option value="-1">省</option>
        <option value="1">1省</option>
    </select>
    <!--市-->
    &nbsp;
    <select name="shiid">
        <option value="-1">市</option>
        <option value="11">2市</option>
    </select>
    <!--县-->
    &nbsp;
    <select name="xianid">
        <option value="-1">县</option>
        <option value="33">3县</option>
    </select><br/>
    <p></p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" name="dpxxdz" size="28"  value="请输入详细地址" onfocus="javascript:if(this.value=='请输入详细地址')this.value='';"><br/>
    <p></p>
    店铺简介&nbsp;&nbsp;<textarea name="dpdesc" rows="4" cols="40"></textarea><br>

    <p></p>
    <input type="button" onclick="addUser()" value="保存">

</form>
<p></p>
<div style="height: 100px;width: 400px;margin-left: 70px">
    我声明，此页面所填写内容均真实有效，
    特别是经营地址为店铺最新可联系到的地
    址，同时可以作为行政机关和司法机关送
    达法律文件的地址。如果上述地址信息有
    误，愿意承担由此带来的平台处罚（处罚
    细则）、行政监管和司法诉讼风险。
</div>

</body>
<script>
    //新增提交
    function savebook() {
        $("#ShopMessage").form("submit",{
            url:'../lxx/addShop',
            success:function(data){
                if(data){

                    alert(11);

                }else{
                    $.messager.alert('提示','失败','error')
                }
            }
        })
    }

    //新增

    function addUser(){
                        $.ajax({
                            url: '../lxx/addShop',
                            type: 'post',
                            cache:false,
                            data: $("#ShopMessage").serialize(),
                            success: function () {

                                alert(11);
                            }, error: function () {
                                alert("新增失败");
                            }
                        });
    }


</script>
</html>