<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
</head>
<form role="form" id="updflformId">
    <input type="hidden" name="flid" th:value="${classify.flid }">
    <div class="form-group">
        <label for="flname">分类(名称)</label>
        <input type="text" class="form-control"  th:value="${classify.flname}" name="flname" placeholder="分类(名称)"/>
    </div>
    <div class="form-group">
        <label for="name">分类(展示图片)</label>
        <input type="hidden" id="burl" name="flphoto" th:value="${classify.flphoto}">
        <input type="file" id="imgFileBTN" >
        <!--  图片回显的位置 -->
        <div id="showImgDiv" style="width: 150px;height: 200px;border‐style:solid;border‐width:1px; border‐color:black;">
            <img  th:src="@{${classify.flphoto}}"  width="150px"  height="200px">
        </div>
        <!--  进度条位置 -->
        <div id="showBarDiv" ></div>
        <!--  <input type="button" onclick="uploadObj.uploadify('cancel');" value="取消">
         <input type="button" onclick="uploadObj.uploadify('upload','*');"value="确定上传"> -->
    </div><br>
    <div class="form-group">
        <label for="productnumber">商品(数量)</label>
        <input type="text" class="form-control" id="name" th:value="${classify.productnumber}" name="productnumber" placeholder="商品(数量)"/>
    </div>
    <div class="form-group">
        <label for="name">创建时间</label>
        <input th:type="date" class="form-control" th:value="${#dates.format(classify.fltime,'yyyy-MM-dd')}" name="fltime" style="width:200">
    </div>

    <!--<div class="form-group">
        <label for="email" class="col-sm-2 control-label">上下架</label>
        <div class="col-sm-6">
            &lt;!&ndash; 样式1 &ndash;&gt;
            <select class="form-control" name="productsxj">
                <option value="-1">请选择</option>
                <option value="1" >上架</option>
                <option value="2" >下架</option>
            </select>
        </div>
    </div><br>-->
    <!--<div class="form-group">
        <label for="productdescribe">商品(描述)</label>
        <textarea id="editor_id" name="productdescribe" style="width:500px;height:300px;"></textarea>
    </div>-->
    <script>
        $(function(){
            //文件域的id
            uploadObj = $("#imgFileBTN").uploadify({
                //前台请求后台的url 不可忽略的参数
                'uploader' :"../lyclassify/uploadPhotoFile",
                //插件自带 不可忽略的参数
                'swf' : '../js/uploadify/uploadify.swf',
                //撤销按钮的图片路径
                'cancelImg' : '../js/uploadify/uploadify‐cancel.png',

                //auto：如果为true 为自动上传 ；如果为false 那么需要手动点击上传按钮上传
                'auto' : true,

                //上传后进度条是否消失
                'removeCompleted' : true,

                //可以同时选择多个文件 默认为true 不可忽略
                'multi' : true,
                //上传文件的个数
                'uploadLimit' : 5,

                //给上传按钮设置文字
                'buttonText' : '上传照片',

                'removeTimeout' : 1,
                //设置上传图片的类型
                'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',

                //限制上传的图片的大小
                'fileSizeLimit' : '2MB',
                //给div的进度条加背景 不可忽略
                'queueID' : 'showBarDiv',
                // action中接收文件的全局变量名
                'fileObjName' : 'artImg',
                'onUploadSuccess' : function(file, data, response) {
                    // file 文件对象
                    // 将图片回显 data 接收到的是图片名称
                    // response – 有输出时为 true, 如果无响应为 false
                    //$("#showImg").attr("src","<%=request.getContextPath()%>"+data);
                    var str = '<img style="width:180px;height:200px;border‐style:solid;border‐width:1px; border‐color:black;"src="..'+data+'">';
                    $("#showImgDiv").html(str);
                    $("#burl").val(data);
                    // append
                }
            });
        })






    </script>

</form>

</body>
</html>