<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>">
    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">


</head>
<body>
<form role="form" id="updspformId">
    <input type="hidden" name="productid" th:value="${product.productid }">
    <div class="form-group">
        <label for="productname">商品(名称)</label>
        <input type="text" class="form-control" id="name" th:value="${product.productname}" name="productname" placeholder="商品(名称)"/>
    </div>

    <div class="form-group">
        <label for="productprice">商品(价格)</label>
        <input type="text" class="form-control" id="name" th:value="${product.productprice}" name="productprice" placeholder="商品(价格)"/>
    </div>
    <div class="form-group">
        <label for="productkucun">商品(库存)</label>
        <input type="text" class="form-control" id="name" th:value="${product.productkucun}" name="productkucun" placeholder="商品(库存)"/>
    </div>
    <div class="form-group">
        <label for="productzxl">商品(总销量)</label>
        <input type="text" class="form-control" id="name" th:value="${product.productzxl}" name="productzxl" placeholder="商品(总销量)"/>
    </div>
    <!--<div class="form-group">
        <label for="email" class="col-sm-2 control-label">商品分类</label>
        <div class="col-sm-6">
            <select id="selectaid" name="flname" th:value="${product.flname}" ></select>
        </div>
    </div><br>-->
    <div class="form-group">
        <label for="name">时间</label>
        <input type="date" class="form-control"  name="productdate" th:value="${#dates.format(product.productdate,'yyyy-MM-dd')}" placeholder="商品(时间)" style="width: 60%" />
    </div>
    <div class="form-group">
        <label for="name">商品图片</label>
        <input type="hidden" id="burl" name="productphoto" th:value="${product.productphoto}">
        <input type="file" id="imgFileBTN" >
        <!--  图片回显的位置 -->
        <div id="showImgDiv" style="width: 150px;height: 200px;border‐style:solid;border‐width:1px; border‐color:black;">
            <img  th:src="@{${product.productphoto}}"  width="150px"  height="200px">
        </div>
        <!--  进度条位置 -->
        <div id="showBarDiv" ></div>
        <!--  <input type="button" onclick="uploadObj.uploadify('cancel');" value="取消">
         <input type="button" onclick="uploadObj.uploadify('upload','*');"value="确定上传"> -->
    </div><br>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">上下架</label>
        <div class="col-sm-6">
            <!-- 样式1 -->
            <select class="form-control" name="productsxj">
                <option value="-1">请选择</option>
                <option value="1" th:field="*{product.productsxj}">上架</option>
                <option value="2" th:field="*{product.productsxj}">下架</option>
            </select>
        </div>
    </div><br>
    <div class="form-group">
        <label for="productdescribe">商品(描述)</label>
        <textarea id="editor_id" name="productdescribe" th:value="${product.productdescribe}"  style="width:500px;height:300px;"></textarea>
    </div>
    <!--<div class="form-group">
        <label for="email" class="col-sm-2 control-label">所属种类</label>
        <div class="col-sm-6">
            &lt;!&ndash; 样式1 &ndash;&gt;
            <select class="form-control" name="dogtype">
                <option value="-1">请选择</option>
                <option value="1">牧羊犬</option>
                <option value="2">金毛</option>
                <option value="3">罗宾犬</option>
            </select>
        </div>
    </div><br>-->

    <script>

        $(function(){
            xiala();
            //文件域的id
            uploadObj = $("#imgFileBTN").uploadify({
                //前台请求后台的url 不可忽略的参数
                'uploader' :"../lyproduct/uploadPhotoFile",
                //插件自带 不可忽略的参数
                'swf' : '../js/uploadify/uploadify.swf',
                //撤销按钮的图片路径
                'cancelImg' : '../js/uploadify/uploadify‐cancel.png',

                //auto：如果为true 为自动上传 ；如果为false 那么需要手动点击上传按钮上传
                'auto' : true,

                //上传后进度条是否消失
                'removeCompleted' : true,

                //可以同时选择多个文件 默认为true 不可忽略
                'multi' : true,
                //上传文件的个数
                'uploadLimit' : 5,

                //给上传按钮设置文字
                'buttonText' : '上传照片',

                'removeTimeout' : 1,
                //设置上传图片的类型
                'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',

                //限制上传的图片的大小
                'fileSizeLimit' : '2MB',
                //给div的进度条加背景 不可忽略
                'queueID' : 'showBarDiv',
                // action中接收文件的全局变量名
                'fileObjName' : 'artImg',
                'onUploadSuccess' : function(file, data, response) {
                    // file 文件对象
                    // 将图片回显 data 接收到的是图片名称
                    // response – 有输出时为 true, 如果无响应为 false
                    //$("#showImg").attr("src","<%=request.getContextPath()%>"+data);
                    var str = '<img style="width:180px;height:200px;border‐style:solid;border‐width:1px; border‐color:black;"src="..'+data+'">';
                    $("#showImgDiv").html(str);
                    $("#burl").val(data);
                    // append
                }
            });
        })

        function  xiala(){
            $.ajax({
                type:"post",
                url:"../lyproduct/queryClassify",
                success:function(data){
                    var html='<option value="-1">--请选择--</option>'
                    for (var i = 0; i < data.length; i++) {
                        html+='<option value='+data[i].flid+'>'+data[i].flname+'</option>';
                    }
                    $("#selectaid").html(html)
                }
            })
        }
        /*var editor;
        KindEditor.ready(function(K) {
            editor = K.create('#editor_id', {
                uploadJson:"../js/kindeditor-4.1.10/jsp/upload_json.jsp",
                fileManagerJson:"../js/kindeditor-4.1.10/jsp/file_manager_json.jsp",
                allowFileManager:true,
                //将富文本编辑中的内容同步到表单序列化中
                afterBlur:function(){this.sync();}
            });
        });*/



    </script>


</form>
</body>
</html>