<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.Product" >
    <id column="productid" property="productid" jdbcType="INTEGER" />
    <result column="productphoto" property="productphoto" jdbcType="VARCHAR" />
    <result column="productname" property="productname" jdbcType="VARCHAR" />
    <result column="productpid" property="productpid" jdbcType="INTEGER" />
    <result column="productprice" property="productprice" jdbcType="VARCHAR" />
    <result column="productkucun" property="productkucun" jdbcType="INTEGER" />
    <result column="productzxl" property="productzxl" jdbcType="INTEGER" />
    <result column="productdate" property="productdate" jdbcType="DATE" />
    <result column="productdescribe" property="productdescribe" jdbcType="VARCHAR" />
    <result column="productsxj" property="productsxj" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    productid, productphoto, productname, productpid, productprice, productkucun, productzxl, 
    productdate, productdescribe, productsxj
  </sql>
  <select id="querylyProduct" resultType="HashMap">

    SELECT sp.*,fl.flname producttype  FROM ly_product sp,ly_classify fl WHERE  sp.productpid=fl.flid
   <if test="productname !=null and productname !=''">
     and  productname like '%${productname}%'
   </if>
    <if test="flid !=null and flid !=-1">
      and  flid =#{flid}
    </if>

  </select>
  <update id="updateproductzt">
    update  ly_product
    <set>
      <if test="zt==1">
        productsxj=2,
      </if>
      <if test="zt==2">
        productsxj=1,
      </if>
    </set>
    where  productid=#{productid}

  </update>
  <insert id="addProduct">
    insert into ly_product (productphoto, productname,
                            productpid, productprice, productkucun,
                            productzxl, productdate, productdescribe , productsxj
    )
    values (#{productphoto,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR},
            #{productpid,jdbcType=INTEGER}, #{productprice,jdbcType=VARCHAR}, #{productkucun,jdbcType=INTEGER},
            #{productzxl,jdbcType=INTEGER}, #{productdate,jdbcType=DATE}, #{productdescribe,jdbcType=VARCHAR},#{productsxj,jdbcType=INTEGER}
           )

  </insert>
    <delete id="delProduct">
        delete from  ly_product where productid in (${dids})
    </delete>




  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ly_product
    where productid = #{productid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ly_product
    where productid = #{productid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.Product" >
    insert into ly_product (productid, productphoto, productname, 
      productpid, productprice, productkucun, 
      productzxl, productdate, productdescribe
      )
    values (#{productid,jdbcType=INTEGER}, #{productphoto,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR}, 
      #{productpid,jdbcType=INTEGER}, #{productprice,jdbcType=VARCHAR}, #{productkucun,jdbcType=INTEGER}, 
      #{productzxl,jdbcType=INTEGER}, #{productdate,jdbcType=DATE}, #{productdescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.Product" >
    insert into ly_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        productid,
      </if>
      <if test="productphoto != null" >
        productphoto,
      </if>
      <if test="productname != null" >
        productname,
      </if>
      <if test="productpid != null" >
        productpid,
      </if>
      <if test="productprice != null" >
        productprice,
      </if>
      <if test="productkucun != null" >
        productkucun,
      </if>
      <if test="productzxl != null" >
        productzxl,
      </if>
      <if test="productdate != null" >
        productdate,
      </if>
      <if test="productdescribe != null" >
        productdescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productphoto != null" >
        #{productphoto,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productpid != null" >
        #{productpid,jdbcType=INTEGER},
      </if>
      <if test="productprice != null" >
        #{productprice,jdbcType=VARCHAR},
      </if>
      <if test="productkucun != null" >
        #{productkucun,jdbcType=INTEGER},
      </if>
      <if test="productzxl != null" >
        #{productzxl,jdbcType=INTEGER},
      </if>
      <if test="productdate != null" >
        #{productdate,jdbcType=DATE},
      </if>
      <if test="productdescribe != null" >
        #{productdescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.Product" >
    update ly_product
    <set >
      <if test="productphoto != null" >
        productphoto = #{productphoto,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productpid != null" >
        productpid = #{productpid,jdbcType=INTEGER},
      </if>
      <if test="productprice != null" >
        productprice = #{productprice,jdbcType=VARCHAR},
      </if>
      <if test="productkucun != null" >
        productkucun = #{productkucun,jdbcType=INTEGER},
      </if>
      <if test="productzxl != null" >
        productzxl = #{productzxl,jdbcType=INTEGER},
      </if>
      <if test="productdate != null" >
        productdate = #{productdate,jdbcType=DATE},
      </if>
      <if test="productdescribe != null" >
        productdescribe = #{productdescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where productid = #{productid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.Product" >
    update ly_product
    set productphoto = #{productphoto,jdbcType=VARCHAR},
      productname = #{productname,jdbcType=VARCHAR},
      productpid = #{productpid,jdbcType=INTEGER},
      productprice = #{productprice,jdbcType=VARCHAR},
      productkucun = #{productkucun,jdbcType=INTEGER},
      productzxl = #{productzxl,jdbcType=INTEGER},
      productdate = #{productdate,jdbcType=DATE},
      productdescribe = #{productdescribe,jdbcType=VARCHAR}
    where productid = #{productid,jdbcType=INTEGER}
  </update>
</mapper>