<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>

    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <link rel="stylesheet" href="../js/table/bootstrap-table.css">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
</head>
<body>
<form id="formId">
<div hidden="true" id="dialogbeizhu" title="卖家备注" >
    <input type="hidden" name="id">
    <textarea name="beizhu"></textarea>
</div>
</form>
</body>
</html>