
<html>
<head>

    <title>标题</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">


    <!-- 引入jquery -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>



    <!-- 引入 css  -->

    <!-- 引入bootstrap的css -->
    <link  href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-treeview的css -->
    <link  href="../js/treeview/bootstrap-treeview.min.css" rel="stylesheet" >
    <!-- 引入bootstrap-addTabs的css -->
    <link  href="../js/addTabs/addTabs.css" rel="stylesheet" >
    <!-- 引入bootstrap-table的css -->
    <link  href="../js/table/bootstrap-table.min.css" rel="stylesheet" >
    <!-- 引入fileinput的css -->
    <link type="text/css" rel="stylesheet" href="../js/fileinput/css/fileinput.min.css" />



    <!-- 引入 js  -->

    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/treeview/bootstrap-treeview.min.js"></script>
    <!-- 引入bootstrap的js-->
    <script type="text/javascript" src="../js/addTabs/addTabs.js"></script>
    <!-- 引入bootstrap-table的js-->
    <script type="text/javascript" src="../js/table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="../js/table/locale/bootstrap-table-zh-CN.min.js"></script>
    <!-- 引入bootbox.js -->
    <script type="text/javascript" src="../js/bootbox/bootbox.js"></script>
    <!-- 引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/fileinput.min.js"></script>
    <!--  引入fileinput的js -->
    <script type="text/javascript" src="../js/fileinput/js/locales/zh.js"></script>
    <script type="text/javascript" src="../js/fileinput/themes/fa/theme.js"></script>


    <style type="text/css">
        body{
            background: url("./js/image/a.jpg") no-repeat;
            background-size:100% 100%;
            background-attachment:fixed;
        }
        #login_box{
            padding: 35px;
            border-radius:15px;
            background: #56666B;
            color: #fff;
        }
        #login_title{
            color: #000000;
        }
    </style>
</head>
<body>
<div class="container" id="top">
    <div class="row" style="margin-top: 240px;">
        <div class="col-md-offset-4 col-md-4">
            <div class="col-md-offset-3 col-md-9">
                <h1 id='login_title'></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" >
        </div>
        <div class="col-md-4" id='login_box'>
            <form class="form-horizontal" id="registerForm">
                <div class="form-group">
                    <label class="col-md-3 control-label">账号</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text"  placeholder="请输入名字" id="username" name="username" >
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 control-label">密码</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" placeholder="请输入密码" id="password" name="password"/>
                    </div>
                </div>

                  <!--  <div class="form-group">
                <label class="col-md-3 control-label">验证码</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="请输入验证码" size="5" id="code"/>
                    <br/>
                    <img  src="../ylf/getcode.do" id="img"  onclick="">

                </div>
            </div>-->

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="button" class="form-control"  id="register"  value="保存"/>
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        <input type="button" class="form-control"  id="zhu"  value="取消"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4" >
        </div>
    </div>
</div>

</body>

<script type="text/javascript">


    $("#register").click(

        function(){

            var form = $("#registerForm").serialize();
            $.ajax({
                url:"../ylf/register",
                data:form,
                type:"post",
                success:function(data){


                    if(data=="usererror"){
                        alert("空");
                    }
                    if(data=="freeze"){
                        alert("已冻结,五分钟后再次登录");
                    }
                    if(data=="passerror"){
                        alert("密码错误");
                    }
                    if(data=="success"){
                        location.href="../ylf/toregister";
                    }else{
                        alert(data);
                    }

                },error:function(){
                    alert("shibai")
                }



            })


        }
    )



</script>
</html>