<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.EvaluateysqMapper" >
  <select id="cha2" resultType="com.jk.model.YsqEvaluate" parameterType="com.jk.util.ParameUtil">
    select * from evaluate_ysq
  </select>
</mapper>