<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.YsqJiaoYiMapper" >

<select id="cha" parameterType="com.jk.util.ztx.ParameUtil" resultType="com.jk.model.YsqJiaoYi">
  select * from jiaoyi-ysq where 1=1 <include refid="aa"></include>
</select>
  <sql id="aa">
    <if test="startdate!=null and startdate!=''">
        ordertime >= #{startdate}
    </if>
    <if test="enddate!=null and enddate!=''">
      ordertime &lt;= #{enddate}
    </if>
    <if test="productname!=null and productname!=''">
      productname like %#{productname}%
    </if>
    <if test="ordernumber!=null and ordernumber!=''">
      ordernumber like %#{ordernumber}%
    </if>
    <if test="status!=null">
      status = #{status}
    </if>
  </sql>
</mapper>